.col{
    padding-left: 5px;
    padding-right: 5px;
}
.sypp-applicationDetail-all-title{
    font-family: Assistant;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #C2DBFF;
    text-align: center;
    margin-bottom: 10px;
}
.sypp-applicationDetail-container{
    width: 100% !important;
    overflow-y: scroll;
    // max-height: 70%;
    padding: 30px;
}
.sypp-detail-add-button-container{
    position: relative;
    bottom: 125px;
}
.sypp-application-detail-add-container{
    position: relative;
    bottom: 125px;
}