.sypp-company-general-container{
    margin-left: 20px;
}
.sypp-companyMain-list{
    width: 250px;
    height: 569px;
    background: #242931;
    border-radius: 20px;
    margin-right: 20px;
}
.sypp-companyMain-detail{
    // width: 100%;
    width: 1110px;
    height: 569px;
    background: #242931;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 11px;
}
.sypp-companyMain-list-extended{
    width: 250px;
    height: 758px;
    background: #242931;
    border-radius: 20px;
    margin-right: 20px;
}
.sypp-companyMain-detail-extended{
    width: 1110px;
    height: 758px;
    background: #242931;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
}