.sypp-company-general-container{
    margin-left: 20px;
}
.sypp-companyMain-list{
    width: 354px;
    min-height: 569px;
    height: 100%;
    background: #242931;
    border-radius: 20px;
    margin-right: 20px;
    padding-right: 10px;
}
.sypp-companyMain-detail{
    // width: 100%;
    min-width: 1006px;
    width: 100%;
    min-height: 569px;
    height: 100%;
    background: #242931;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 11px;
}
.sypp-companyMain-list-extended{
    width: 354px;
    min-height: 758px;
    height: 100%;
    background: #242931;
    border-radius: 20px;
    margin-right: 20px;
    padding-right: 10px;
}
.sypp-companyMain-detail-extended{
    min-width: 1006px;
    width: 100%;
    min-height: 758px;
    height: 100%;
    background: #242931;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
}