.sypp-applicationMain-Container{
    position: relative;
    // background-color: skyblue;
    top: 10px;
    height: 90%;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.sypp-weeklyDeadline-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 53px;
    margin-right: -5px;
}
.sypp-weeklyDealine-individual{
    min-width: 187px;
    width: 100%;

    height: 138px;
    background: #242931;
    border-radius: 15px;
    margin-right: 10px;
    margin-bottom: 11px;
    padding-left: 9px;
    padding-top: 5px;
    padding-right: 5px;
    border: transparent;
}
.sypp-applicationMain-subContainer{
    display: flex;
    flex-direction: row;
    min-height: 569px !important;
    height: 70%;
}
.sypp-applicationMain-subContainer-extended{
    display: flex;
    flex-direction: row;
    min-height: 569px !important;
    height: 85.5%;
}
.sypp-applicationMain-list{
    padding-left: 10px;
    padding-right: 10px;
    width: 545px;
    min-height: 569px;
    height: 100%;
    background: #242931;
    border-radius: 20px;
    margin-right: 20px;
}
.sypp-applicationMain-detail{
    // width: 100%;
    min-width: 815px;
    width: 100%;
    min-height: 569px;
    height: 100%;
    background: #242931;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 11px;
}
.sypp-applicationMain-list-extended{
    padding-left: 10px;
    padding-right: 10px;
    width: 545px;
    min-height: 758px;
    height: 100%;
    background: #242931;
    border-radius: 20px;
    margin-right: 20px;
}
.sypp-applicationMain-detail-extended{
    // width: 100%;
    min-width: 815px;
    width: 100%;
    min-height: 758px;
    height: 100%;
    background: #242931;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 15px;
}

.sypp-radio-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-width: 65px; */
    min-height: 24px;
    padding-left: 10px;
    padding-right: 10px;
}
.sypp-calendarweekview-container{
    display: block;
    
}
.sypp-calendarweekview-button{
    display: block;
    margin-left: auto;
    text-align: center;
    margin-right: 10px;
    padding-top: 5px;
    margin-bottom: 8px;
    width: 170px;
    height: 26px;
    border-radius: 30px;
    font-family: Assistant;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #C2DBFF;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    &:hover{
        background: #C2DBFF;
        color: #363C46;
    }
}   

