.sypp-newapp-button{
    display: flex;
    position: absolute;
    bottom: 5px;
    left: 5px;
    border: none;
    width: 101px;
    height: 44px;
    border-radius: 26px;
    background: #C2DBFF;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover{
        background: #9ABAEA;
    }
    &:active{
        background: #7699CE;
    }
}
.sypp-newapp-button-plus{
    padding: 0;
    font-family: Assistant;
    font-style: normal;
    font-weight: bold;
    color: #212832;
    font-size: 23px;
    margin-bottom: 4px;
    cursor: pointer;

}
.sypp-newapp-button-body{
    padding: 0;
    font-family: Assistant;
    font-style: normal;
    font-weight: bold;
    color: #212832;
    font-size: 12px;
    margin-left: 3px;
    cursor: pointer;

}
.sypp-modal-input{
    display: block;
    justify-self: center;
    margin:0 auto; 
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 240px;
    min-height: 35px;
    background: rgba(255, 255, 255, 0.15);
    color: #FFE9D6;
    border: none;
    border-radius: 26px;
    font-size: 12px;
    outline: none;
    &:hover{
        border: solid 1px #918D8D;
    }
    &:active{
        border: solid  1px #DACABD
    }
    &:focus{
        border: solid  1px #DACABD
    }
}
.sypp-company-position-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.sypp-button-next{
    display: inline-flex;
    margin:0; 
    padding: 0;
    border: none;
    background: none;
    font-family: Assistant;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #C2DBFF;
    margin-bottom: 10px;
 
    &:disabled{
        color: #5E6A7E;
    }
    &:hover{
        color: #DBEAFF;
    }
    &:active{
        color: #E3EFFF;   
    }
    &:focus{
        color: #E3EFFF;   
        outline: none;
    }
}
.sypp-button-prev{
    display: inline-flex;
    margin-right : 20px; 
    padding: 0;
    border: none;
    background: none;
    font-size: 12px;
    font-family: Assistant;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #C2DBFF;
    margin-bottom: 10px;
    &:disabled{
        color: #5E6A7E;
    }
    &:hover{
        color: #DBEAFF;
    }
    &:active{
        color: #E3EFFF;   
    }
    &:focus{
        color: #E3EFFF;   
        outline: none;
    }
}

.sypp-modal-newapp-applied{
    margin-bottom: 13px;
}
