.sypp-application-detail-container{
    margin-left: 20px;
}
.modal-content{
    background: transparent !important;
    border: none;
}
.sypp-button-container-applicationDetail{
    /* display: inline-block; */
    // margin-left: 5px;
    margin-right: 10px;

    margin-top: 2px;
    margin-bottom: 2px;
}

.sypp-radio-button-container-applicationDetail{
    padding-top: 3px;
    // min-width: 65px;
    min-height: 24px;
    padding-left: 10px;
    padding-right: 10px;
}


.btn-secondary.sypp-applicationDetialButtonGroups{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
    border-radius: 30px;
    height: 26px ;

    // min-width: 10px;
    background: #343B46; 
    border: none;
    color: #C2DBFF;
    }

.sypp-textTitle{
    color: #ffffff;
    font-size: 12px;
}
.sypp-companyName{
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}
.sypp-titleContainer{
    display: flex;
    align-items: center;
}
.sypp-button-back{
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
}
.sypp-angleLeft{
    color: #ffffff;
    font-size: 20px;
    &:hover{
        cursor: pointer;
    }
}
.sypp-applicationDetailContactsTitle{
    display: flex;
    flex-flow: column;
}
.sypp-applicationDetailTextTitle{
    font-size: 12px;
    font-weight: bold;
    color: #FFE9D6;
}
.sypp-applicationDetailTextTitle-body{
    margin-top: 1px;
    font-family: Assistant;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    color: #F5F5F5;
    margin-bottom: 3px;
}
.sypp-applicationDetailTextSubTitle{
    margin-top: 1px;
    font-family: Assistant;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    color: #F5F5F5;
}
.sypp-applicationDetailTextBody{
    font-size: 11px;
    color: #F5F5F5;
    ;
}
.sypp-applicationDetailContactsContainer{
    background: #343B46;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 100%;
    margin-bottom: 10px;
}


.sypp-create-detail-tooltip{
    pointer-events: auto !important;
    background: transparent!important;
    // background-color: # !important;
    &:hover {
    visibility: visible !important;
    background-color: transparent !important;
    opacity: 1 !important;
    }
    &.place-right {
        &:after {
        background-color: transparent !important;
        border-left-color: transparent !important;
        color: transparent;
        border-color: transparent !important;
        border-bottom-color: transparent !important;
        }
        &::before {
        background-color: transparent;
        border-bottom-color: transparent !important;
        }
    }
}
.sypp-tooltip-button-container{
    position: relative;
    display: flex;
    flex-direction: column;
    bottom: 45px;
    margin-left: -70px;
}

.sypp-create-detail-modal{
    width: 446px !important;
    height: 446px !important;
    border-radius: 15px;
    background: transparent;
}
.sypp-create-detail-modal-container{
    width: 446px !important;
    height: 446px !important;
    background: #343B46;
    border-radius: 15px;
}

.sypp-detail-add-button{
    position: relative;
    left: 10px;
    z-index: 99;
    width: 44px;
    height: 44px;
    border-radius: 26px;
    border: none;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: #C2DBFF;
    &:hover {
        background: #9ABAEA;
    }
    &:focus{
        background: #7699CE;
        border: none;
        outline: none;
    }
}
.sypp-create-detail-button{
    height: 26px;
    padding-left: 4px;
    padding-right: 4px;
    border: none;
    text-align: center;
    background: #363C46;
    border-radius: 30px;
    font-family: Assistant;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
    color: #C2DBFF;
    &:hover {
        background: #5E6A7E;
        }
    &:focus{
        background: #C2DBFF;
        border: none;
        outline: none;
        color: #242931;
    }
}
.sypp-create-detail-button1{
    width: 72px;
}
.sypp-create-detail-button2{
    width: 66px;
}
.sypp-create-detail-button3{
    width: 83px;
}
.sypp-create-detail-button4{
    width: 155px;
}
.sypp-create-detail-button5{
    width: 90px;
}

::-webkit-scrollbar {
    width: 4px;
    border-radius: 15px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }