.sypp-CompanyList-All-Container{
margin-left: 20px;
margin-top: 20px;
height: 100%;
}
.sypp-Company-container{
    // margin: 0 auto;
    display: flex;
    justify-content: left;
    align-content: center;
    // align-items: center;
    border-radius: 30px;
    margin-left: 10px;
    height: 30px;
}
.sypp-CompanyList{
    margin-left: 10px;
    cursor: pointer;
    font-family: Assistant;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #FFE9D6;
}
.sypp-company-searchBox{
    width: 210px;
    height: 24px;
    border: 2px solid #363C46;
    box-sizing: border-box;
    border-radius: 30px;
    background: transparent;
}


.sypp-ModalMain{
    width: 320px !important;
    height: 320px ;
    margin: 0 auto;
    padding: 0;
}
.sypp-Modal-container{
    /* display: block; */
    margin: 0;
    padding: 0;
    max-width: 320px;
    min-height: 320px;
    background: #343B46;
    border-radius: 15px;
}
.sypp-button-close{
    position: absolute;
    font-size: 5px;
    right: 15px;
    top: 15px;
    border: none;
    background: none;
    color: rgba(255, 255, 255, 0.87);
}

.sypp-addcompany-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
}

.sypp-addcompany-title{
    font-family: Assistant;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.9);
}
.sypp-newcompany-container{
    position: relative;
    bottom: 65px;
}

.sypp-newcompany-button{
    position: relative;
    bottom: 20px;
    display: flex;
    border: none;
    width: 130px;
    height: 44px;
    border-radius: 26px;
    background: #C2DBFF;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover{
        background: #9ABAEA;
    }
    &:active{
        background: #7699CE;
    }
}
.sypp-company-sortby{
    font-family: Assistant;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.6);
}

.sypp-company-button-next{
    display: block;
    margin:0 auto; 
    margin-top: 90;

    padding: 0;
    border: none;
    background: none;
    font-family: Assistant;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #C2DBFF;
    margin-bottom: 10px;
 
    &:disabled{
        color: #5E6A7E;
    }
    &:hover{
        color: #DBEAFF;
    }
    &:active{
        color: #E3EFFF;   
    }
    &:focus{
        color: #E3EFFF;   
        outline: none;
    }
}