
.sypp-label-text{
    /* padding: 0px; */
    /* display: inline-block; */
    /* margin-top: 10px; */
    font-size: 12px;
    color: #ffffff;
}
.sypp-label-container{
    padding-left: 20px;
    display: flex;
    align-items: center;
    width: 80px;
}

.sypp-accoridon-container{
    display: grid;
    padding: 0;
    margin: 0 auto;
    background-color: transparent;
    grid-template-columns: 1fr 2.7fr;
}

.sypp-container-suggestion{
    background-color: transparent;
    display: inline;
    padding: 0px;
    margin-left: 33%;
    margin-right: 15%;
}



.sypp-ul{
    display: inline;
    margin:0px;
    padding: 0px;
}
